.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    
}
 .logo{
     width: 250px;
     height: 150px;
 }
 
