
/*estilos de el NavBar*/
header nav{
    background: rgb(228, 180, 58);
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top: 0;
  
  }
  header nav ul{
    list-style: none;
  
  }
  header nav ul li{
    float: left;
  }
  header nav ul li a {
    display: block;
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
  }
  header nav ul li a:hover{
   color: black;
  }
  
  /*estilos del icon shop*/
  .cart{
    display: flex;
      align-items: center;
      align-content: center;
      padding: 10px;
      margin-left: 60px;
      
  }

























