/*stilos de navBar*/
body{
  background:rgb(235, 214, 161);
  font-family: sans-serif;
}
header nav{
  background: rgb(163, 124, 25);
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  top: 0;

}
header nav ul{
  list-style: none;

}
header nav ul li{
  float: left;
}
header nav ul li a{
  display: block;
  padding: 20px;
  color: whitesmoke;
  text-decoration: none;
}
header nav ul li a:hover{
  background: rgb(143, 109, 22);
}
.app{
  text-align: center;
  
}

