/*Estilos generales*/
body{
  background:rgb(235, 214, 161);
  font-family: sans-serif;
}
.app{
  text-align: center;
}
/*estilos de la seccion que contiene a las card*/

.userSection{
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

































































































































































































































































































































































































































































































































































































